.spods {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: "Comfortaa", cursive;
}

.facebook {
    color: #3b5998;
}

.twitter {
    color: #00acee;
}

.linkedin {
    color: #0072b1;
}

.spotify {
    color: #1db954;
}

.snapchat {
    color: #fffc00;
}

.instagram {
    color: #3f729b;
}

.soundcloud {
    color: #ff7700;
}

.github {
    color: #6e5494;
}

.quora {
    color: #aa2200;
}

.reddit {
    color: #ff5700;
}

.steam {
    color: #171a21;
}

.vimeo {
    color: #86c9ef;
}

.xbox {
    color: #0e7a0d;
}

.playstation {
    color: #003791;
}

.youtube {
    color: #c4302b;
}

.venmo {
    color: #3d95ce;
}

.steam {
    color: #9cbbc7;
}

.yelp {
    color: #c41200;
}

.skype {
    color: #00aff0;
}

.pinterest {
    color: #c8232c;
}